<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
      </div>  

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2">Home</a></li>
        <li><a routerLink="/about" class="nav-link px-2">About</a></li>
        <li><a routerLink="/accomodation" class="nav-link px-2">Accomodation</a></li>
        <li><a routerLink="/gallery" class="nav-link px-2">Gallery</a></li>
        <li><a routerLink="/contact" class="nav-link px-2">Contact Us</a></li>
        <li><a routerLink="/reservation" class="nav-link px-2">Reservation</a></li>
      </ul>

      
      <div class="col-md-3 text-end" *ngIf="!isLoggedIn">
        <button type="button" a routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-outline-primary me-2">Book Now</button>
      </div>
  
      <div class="col-md-3 text-end" *ngIf="isLoggedIn">
        <a routerLink="/customer-dashboard" class="btn btn-outline-primary me-2">My Account</a>
        <button type="button" (click)="logout()" class="btn btn-outline-primary me-2">Logout</button>
      </div>
    </header>
  </div>