<form [formGroup]="customerForm">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control" id="validationDefault01" formControlName="firstName" placeholder="First name" readonly>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" formControlName="lastName" placeholder="Last name" readonly>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="text" class="form-control" id="validationDefaultUsername" formControlName="username" placeholder="Username" aria-describedby="inputGroupPrepend2" readonly>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Address</label>
      <input type="text" class="form-control" id="validationDefault03" formControlName="address" placeholder="Address" readonly>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">Date of Birth</label>
      <input type="text" class="form-control" id="validationDefault04" formControlName="dob" placeholder="Date of Birth" readonly>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Contact Number</label>
      <input type="text" class="form-control" id="validationDefault05" formControlName="contactNumber" placeholder="Contact Number" readonly>
    </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault06">Gender</label>
        <input type="text" class="form-control" id="validationDefault06" formControlName="gender" placeholder="Gender" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault07">NIC / Passport No</label>
        <input type="text" class="form-control" id="validationDefault07" formControlName="nic" placeholder="NIC / Passport No" required>
      </div>
    </div>
  </form>
  