<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <div class="container" id="bg-image1">
            <div class="text-overlay">
                <h1>Welcome to Our Website</h1>
                <p>Some description or additional text can go here.</p>
                <button type="button" class="btn btn-outline-light">Book Now</button>
            </div>
            <div class="row" id="row-1">
                <img src="../../../assets/images/Vector.png" alt="Vector Image" id="row-2">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <h1>Experience comfort and Convinience at Weligama Holiday Inn</h1>
            <p>W3Schools is optimized for learning and training. Examples might be simplified to
                improve reading and learning. Tutorials, references, and examples are
                constantly reviewed to avoid errors, but we cannot warrant full
                correctness of all content. While using W3Schools, you agree to
                have read and accepted our terms of use, cookie and privacy policy.
            </p>
            <ul>
                <li>Point 1</li>
                <li>Point 2</li>
                <li>Point 3</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img src="../../../assets/images/IMG_3161.jpg" id="side-img">
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1>Rooms</h1>
            <h5>Browse our selection of A/C and Non-A/C rooms</h5>
        </div>
        <div class="col-6" id="button-container">
            <button type="button" class="btn btn-secondary">Secondary</button>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <!-- Contact Information -->
            <div class="row">
                <div class="col-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/images/email.png" height="40px" width="40px"><br>
                    <b>Email</b><br>
                    weligamaguestinn@gmail.com
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/images/phone.png" height="40px" width="40px"><br>
                    <b>Phone</b><br>
                    <u>(+94)77 341 7045 / (+94)55 222 2117</u>
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="../../../assets/images/map.png" height="40px" width="40px"><br>
                    <b>Location</b><br>
                    <a href="https://maps.app.goo.gl/aoQSdNeU1v8RffwP8">Get Direction ></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Map -->
            <iframe width="100%" height="410" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.546558472287!2d80.37458031436698!3d6.054330728059041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae37a49d7c9ef23%3A0x723a5d8b4f40baf1!2sWeligama%20Holiday%20Inn!5e0!3m2!1sen!2slk!4v1643453834949!5m2!1sen!2slk"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

</div>