<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container">
                <footer class="py-3 my-4">
                  <ul class="nav justify-content-between align-items-center border-bottom pb-3 mb-3">
                    <!-- Company Logo -->
                    <li class="nav-item">
                        <img src="company_logo.png" alt="Company Logo" class="logo" width="40px" height="40px">
                    </li>
                    <!-- Menu Items -->
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link px-2 text-body-secondary">About</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/accomodation" class="nav-link px-2 text-body-secondary">Accomodation</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/gallery" class="nav-link px-2 text-body-secondary">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link px-2 text-body-secondary">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link px-2 text-body-secondary">Reservation</a>
                    </li>
                    <!-- Logos for Booking.com, TripAdvisor, Facebook -->
                    <li class="nav-item">
                        <img src="../../../assets/images/tripadvisor.png" alt="TripAdvisor Logo" class="logo" width="40px" height="40px">
                        <img src="../../../assets/images/facbook-logo.png" alt="Facebook Logo" class="logo" width="80px" height="80px">
                    </li>
                  </ul>
                  <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
                </footer>
              </div>
        </div>
    </div>
</div>

